:root {
  --g1: #d91c50;
  --g2: #3450fa;
  --logo-red: #ff4057;
  --logo-grey: #dcdcdc;
}

body {
  background-color: #242424;
  box-sizing: border-box;
  height: 100vh;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* Start of Nav bar */

/* The start of the Gradient grid*/

.tiles__wrapper {
  overflow: hidden;
  background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
  background-size: 200%;
  height: 100vh;
  position: relative;
  animation: background-pan 10s linear infinite;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.tiles__wrapper > #tiles > .tile:hover {
  opacity: 0.1 !important;
}

#tiles {
  height: 100%;
  width: 100vw;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  position: relative;
}

.tile:before {
  background-color: rgb(36, 36, 36);
  content: "";
  position: absolute;
  inset: 0.5px;
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
}

/* End of the Gradient Grid */

/* Start Gradient Grid Text */

.tiles__wrapper.toggled > #toggle__wrapper {
  opacity: 1;
}

.tiles__wrapper.toggled > #pre-toggle__banner {
  opacity: 0;
}

#title,
#pre-toggle__banner {
  color: rgb(219, 219, 219);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 5vmin;
  padding-bottom: 16px;
  padding-top: 16px;
  margin: 0px;
  pointer-events: none;
  transition: opacity 900ms ease;
  width: 80vw;
}

#toggle__wrapper {
  opacity: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  align-items: center;
  transition: all 900ms ease-in-out;
}

#pre-toggle__banner {
  opacity: 1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title > .fancy {
  color: rgb(255, 255, 59);
  line-height: 0.9em;
}

#landing-button {
  opacity: 0;
  visibility: hidden;
  pointer-events: visible;
  background-color: transparent;
  color: white;
  width: 35vmin;
  padding: 24px;
  border: 2px solid var(--g1);
  border-radius: 8px;
  transition: visibility 900ms ease-in-out, opacity 900ms ease-in-out,
    background-color 500ms ease-in-out, border 500ms ease-in-out,
    color 500ms ease-in-out;
  font-size: clamp(12px, 3vmin, 24px);
}

.tiles__wrapper.toggled #landing-button {
  visibility: visible;
  opacity: 1;
}

#landing-button .fa-arrow-right {
  transition: all 500ms ease-in-out;
}

#landing-button:hover .fa-arrow-right {
  transform: rotate(90deg);
}

#landing-button:hover {
  background-color: var(--logo-grey);
  border: 2px solid var(--logo-grey);
  color: #242424;
  cursor: pointer;
}

/* End of Gradient Grid Text */

@media (max-width: 874px) {
  #title,
  #pre-toggle__banner {
    font-size: 36px;
  }
}

@media (max-width: 526px) {
  #title,
  #pre-toggle__banner {
    font-size: 6.5vmin;
  }
}
